.attendance-table td.datetime {
  width: 27%;
}

.attendance-table tr > td:nth-child(0) {
  width: 100%;
  white-space: nowrap;
}

.attendance-table .absent {
  /* red glowing */
  box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.5);
  color: red;
  border: 2px solid red;

}

